<div style="background-color: #FFF; overflow: hidden">
    <div title="{{$.lp.base}}" class="MWFTab">
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitle">{{$.lp.id}}:</td>
                <td class="editTableValue"><input type="text" name="id" value="text{$.id}" class="editTableInput"/></td>
            </tr>
            <tr>
                <td class="editTableTitle">{{$.lp.name}}:</td>
                <td class="editTableValue"><input type="text" name="name" value="text{$.name}" class="editTableInput"/></td>
            </tr>
            <tr>
                <td class="editTableTitle">{{$.lp.description}}:</td>
                <td class="editTableValue"><input type="text" name="description" value="text{$.description}" class="editTableInput"/></td>
            </tr>
        </table>

        <div class="MWFMaplist" name="styles" title="{{$.lp.style}}"></div>
        <div class="MWFMaplist" name="properties" title="{{$.lp.attribute}}"></div>
    </div>
    <div title="{{$.lp.source}}"  class="MWFTab">
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitle">{{$.lp.method}}:</td>
                <td class="editTableValue">
                    <select name="httpMethod" onchange="var i=this.selectedIndex; if (i==1 || i==2 || i==3){$('text{$.pid}requestBodyArea').setStyle('display', 'block');}else{$('text{$.pid}requestBodyArea').setStyle('display', 'none');}">
                        <option value="GET" text{($.httpMethod=='GET')?'selected':''}>GET</option>
                        <option value="POST" text{($.httpMethod=='POST')?'selected':''}>POST</option>
                        <option value="PUT" text{($.httpMethod=='PUT')?'selected':''}>PUT</option>
                        <option value="PATCH" text{($.httpMethod=='PATCH')?'selected':''}>PATCH</option>
                        <option value="OPTIONS" text{($.httpMethod=='OPTIONS')?'selected':''}>OPTIONS</option>
                        <option value="HEAD" text{($.httpMethod=='HEAD')?'selected':''}>HEAD</option>
                        <option value="DELETE" text{($.httpMethod=='DELETE')?'selected':''}>DELETE</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle"></td>
                <td class="editTableValue">
                    <input type="radio" name="sourceType" value="o2" text{($.sourceType!='other')?'checked':''} onclick="if (this.checked){ $('text{$.pid}sourceO2Area').setStyle('display', 'block'); $('text{$.pid}sourceOtherArea').setStyle('display', 'none')}"/>{{$.lp.systemSource}}
                    <!--<input type="radio" name="sourceType" value="other" text{($.sourceType=='other')?'checked':''} onclick="if (this.checked){ $('text{$.pid}sourceO2Area').setStyle('display', 'none'); $('text{$.pid}sourceOtherArea').setStyle('display', 'block')}"/>外部数据源-->
                </td>
            </tr>
        </table>
        <div id="text{$.pid}sourceO2Area" style="display: text{($.sourceType!='other')?'block':'none'}">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
                <tr>
                    <td class="editTableTitle">{{$.lp.applicationService}}:</td>
                    <td class="editTableValue"><div class="MWFContextRoot" name="contextRoot">
                        <select></select>
                        <select style="display: none"></select><br/>
                        <select style="display: none"></select>
                        <input style="display: none" type="text" name="selectPath" value="text{$.selectPath}" class="editTableInput"/>
                    </div></td>
                </tr>
            </table>
        </div>
        <div id="text{$.pid}sourceOtherArea" style="display: text{($.sourceType=='other')?'block':'none'}">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
                <tr>
                    <td class="editTableTitle">{{$.lp.hostPort}}:</td>
                    <td class="editTableValue"><input type="text" name="otherHost" value="text{$.otherHost}" class="editTableInput"/></td>
                </tr>
            </table>
            <div style="background-color: #eeeeee; border-top:1px solid #999999; height: 24px; line-height: 24px; text-align: center;">HTTP Head</div>
            <div class="MWFHTTPHear" name="httphead" title="HTTP Head"></div>

            <div class="MWFFormulaArea" name="cookies" title="Cookies (S)"></div>
        </div>

        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitle">{{$.lp.path}}:</td>
                <td class="editTableValue"><input type="text" name="path" value="text{$.path}" class="editTableInput"/></td>
            </tr>
        </table>
        <div style="background-color: #eeeeee; border-top:1px solid #999999; height: 24px; line-height: 24px; text-align: center;">{{$.lp.parameter}}</div>
        <div class="MWFParameterArea" name="parameters"></div>

        <div id="text{$.pid}requestBodyArea" style="display: text{($.httpMethod=='PUT' || $.httpMethod=='POST' || $.httpMethod=='PATCH')?'block':'none'}">
            <div class="MWFFormulaArea" name="requestBody" title="{{$.lp.requestBody}}"></div>
        </div>

        <div class="MWFSourceTestRestful">
            <div style="background-color: #eeeeee; border-top:1px solid #999999; height: 24px; line-height: 24px; text-align: center; cursor:pointer">{{$.lp.test}}</div>
            <div style="margin: 10px; text-align:center"></div>
        </div>


    </div>
    <div title="{{$.event}}"  class="MWFTab">
        <div class="MWFEventsArea" name="events"></div>
    </div>
    <div title="HTML"  class="MWFTab">
        <div class="MWFHTMLArea" style="font-family: Verdana, Geneva, sans-serif; font-size:14px"></div>
    </div>
    <div title="JSON"  class="MWFTab">
        <div class="MWFJSONArea" style="font-family: Verdana, Geneva, sans-serif; font-size:14px"></div>
    </div>
</div>
