<div style="background-color: #FFF; overflow: hidden">
    <div title="基本" class="MWFTab">
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitleWithoutWith" width="80px">标识:</td>
                <td class="editTableValue"><input type="text" name="id" value="text{$.id}" class="editTableInput"/></td>
            </tr>
            <tr>
                <td class="editTableTitle">名称:</td>
                <td class="editTableValue"><input type="text" name="name" value="text{$.name}" class="editTableInput"/></td>
            </tr>
            <tr>
                <td class="editTableTitle">描述:</td>
                <td class="editTableValue"><input type="text" name="description" value="text{$.description}" class="editTableInput"/></td>
            </tr>
        </table>
        <div style="height:24px; text-align: center; line-height: 24px; background-color: #EEE; border-top: 1px solid #999;">外部相关组件标识</div>
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitleWithoutWith" width="80px">添加按钮标识:</td>
                <td class="editTableValue">
                    <input type="text" name="outerAddActionId" value="text{$.outerAddActionId}" class="editTableInput"/>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">删除选中条目按钮标识:</td>
                <td class="editTableValue">
                    <input type="text" name="outerDeleteActionId" value="text{$.outerDeleteActionId}" class="editTableInput"/>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">全选组件标识:</td>
                <td class="editTableValue">
                    <input type="text" name="outerSelectAllId" value="text{$.outerSelectAllId}" class="editTableInput"/>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">选中值:</td>
                <td class="editTableValue">
                    <input type="text" name="outerSelectAllSelectedValue" value="text{$.outerSelectAllSelectedValue}" class="editTableInput"/>
                </td>
            </tr>
        </table>
        <div style="height:24px; text-align: center; line-height: 24px; background-color: #EEE; border-top: 1px solid #999;">内部相关组件标识</div>
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitleWithoutWith" width="80px">添加按钮标识:</td>
                <td class="editTableValue">
                    <input type="text" name="addActionId" value="text{$.addActionId}" class="editTableInput"/>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">删除按钮标识:</td>
                <td class="editTableValue">
                    <input type="text" name="deleteActionId" value="text{$.deleteActionId}" class="editTableInput"/>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">序号组件标识:</td>
                <td class="editTableValue">
                    <input type="text" name="sequenceId" value="text{$.sequenceId}" class="editTableInput"/>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">选中组件标识:</td>
                <td class="editTableValue">
                    <input type="text" name="selectorId" value="text{$.selectorId}" class="editTableInput"/>
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">选中值:</td>
                <td class="editTableValue">
                    <input type="text" name="selectorSelectedValue" value="text{$.selectorSelectedValue}" class="editTableInput"/>
                </td>
            </tr>
        </table>
        <div style="height:24px; text-align: center; line-height: 24px; background-color: #EEE; border-top: 1px solid #999;">数量</div>
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitleWithoutWith" width="80px">默认显示:</td>
                <td class="editTableValue">
                    <input type="text" name="defaultCount" value="text{$.defaultCount}" class="editTableInputNoWidth" style="width: 100px;"/>项
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">最多添加:</td>
                <td class="editTableValue">
                    <input type="text" name="maxCount" value="text{$.maxCount}" class="editTableInputNoWidth" style="width: 100px;"/>项
                </td>
            </tr>
            <tr>
                <td class="editTableTitle">最少保留:</td>
                <td class="editTableValue">
                    <input type="text" name="minCount" value="text{$.minCount}" class="editTableInputNoWidth" style="width: 100px;"/>项
                </td>
            </tr>
        </table>
        <div class="MWFScriptArea" name="editableScript" title="是否可编辑(S)"></div>
        <div class="MWFMaplist" name="styles" collapse="true" title="样式"></div>
        <div class="MWFMaplist" name="properties" collapse="true" title="属性"></div>
        <div class="MWFScriptArea" name="defaultData" title="默认数据(S)"></div>

        <div class="MWFValidation" name="validationConfig"></div>
        <div class="MWFScriptArea" name="validation" title="校验脚本 (S)"></div>
    </div>
    <div title="导入" class="MWFTab">
<!--        <div style="height:24px; text-align: center; line-height: 24px; background-color: #EEE; border-top: 1px solid #999;">导出导入</div>-->
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitle">启用:</td>
                <td class="editTableValue">
                    <input type="radio" name="impexpType" value="none" text{(!$.impexpType || $.impexpType==='none')?'checked':''}
                           onclick="if (this.checked){ $('text{$.pid}impexpArea').setStyle('display', 'none')}" />禁用
                    <input type="radio" name="impexpType" value="impexp" text{($.impexpType==='impexp')?'checked':''}
                           onclick="if (this.checked){ $('text{$.pid}impexpArea').setStyle('display', 'block')}" />导出导入
                    <input type="radio" name="impexpType" value="exp" text{($.impexpType==='exp')?'checked':''}
                           onclick="if (this.checked){ $('text{$.pid}impexpArea').setStyle('display', 'block')}" />仅导出
                    <input type="radio" name="impexpType" value="imp" text{($.impexpType==='imp')?'checked':''}
                           onclick="if (this.checked){ $('text{$.pid}impexpArea').setStyle('display', 'block')}" />仅导入
                </td>
            </tr>
        </table>
        <div id="text{$.pid}impexpArea" style="display: text{($.impexpType && $.impexpType!=='none')?'block':'none'};">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
                <tr>
                    <td class="editTableTitleWithoutWith" width="80px"></td>
                    <td class="editTableValue">
                        注：图片、附件、数据网格、子数据模板不能导入导出。
                    </td>
                </tr>
                <tr>
                    <td class="editTableTitle">导入按钮标识:</td>
                    <td class="editTableValue">
                        <input type="text" name="importActionId" value="text{$.importActionId}" class="editTableInput"/>
                    </td>
                </tr>
                <tr>
                    <td class="editTableTitle">导出按钮标识:</td>
                    <td class="editTableValue">
                        <input type="text" name="exportActionId" value="text{$.exportActionId}" class="editTableInput"/>
                    </td>
                </tr>
            </table>
            <div class="MWFFormulaArea" name="excelName" title="导出文件名称"></div>
            <div style="height:24px; text-align: center; line-height: 24px; background-color: #EEE; border-top: 1px solid #999;">导入导出字段配置</div>
            <div class="MWFFieldConfigArea" name="excelFieldConfig"></div>
            <div style="height:24px; text-align: center; line-height: 24px; background-color: #EEE; border-top: 1px solid #999;">校验弹出框配置</div>
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
                <tr>
                    <td class="editTableTitleWithoutWith" width="80px">弹出框宽度:</td>
                    <td class="editTableValue">
                        <input type="text" name="impExpDlgWidth" value="text{$.impExpDlgWidth}" class="editTableInputNoWidth" style="width: 100px;"/>px
                    </td>
                </tr>
                <tr>
                    <td class="editTableTitle">弹出框高度:</td>
                    <td class="editTableValue">
                        <input type="text" name="impExpDlgHeight" value="text{$.impExpDlgHeight}" class="editTableInputNoWidth" style="width: 100px;"/>px
                    </td>
                </tr>
            </table>
            <div class="MWFMaplist" name="impExpTableStyles" collapse="true" title="校验表格样式"></div>
            <div class="MWFMaplist" name="impExpTableTitleStyles" collapse="true" title="校验标题单元格样式"></div>
            <div class="MWFMaplist" name="impExpTableContentStyles" collapse="true" title="校验内容单元格样式"></div>
            <div class="MWFMaplist" name="impExpTableProperties" collapse="true" title="校验表格属性"></div>
        </div>
    </div>
    <div title="区段" class="MWFTab">
        <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
            <tr>
                <td class="editTableTitle">启用区段:</td>
                <td class="editTableValue">
                    <input onclick="if (this.checked){ $('text{$.pid}sectionByEditArea').setStyle('display', 'block')}" type="radio" name="section" value="yes" text{($.section=='yes')?'checked':''}/>是
                    <input onclick="if (this.checked){ $('text{$.pid}sectionByEditArea').setStyle('display', 'none')}" type="radio" name="section" value="no" text{($.section!='yes')?'checked':''}/>否
                </td>
            </tr>
        </table>

        <div id="text{$.pid}sectionByEditArea" style="display: text{($.section=='yes')?'block':'none'};">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="editTable">
                <tr>
                    <td class="editTableTitle">区段依据:</td>
                    <td class="editTableValue">
                        <input class="editTableRadio" onclick="if (this.checked){ $('text{$.pid}sectionByScriptEditArea').setStyle('display', 'none');}" name="sectionBy" text{(($.sectionBy=='person') || ($.sectionBy!='unit' && $.sectionBy!='activity' && $.sectionBy!='script'))?'checked':''} type="radio" value="person"/>处理人<br/>
                        <input class="editTableRadio" onclick="if (this.checked){ $('text{$.pid}sectionByScriptEditArea').setStyle('display', 'none');}"  name="sectionBy" text{($.sectionBy=='department')?'checked':''} type="radio" value="unit"/>处理人所在组织<br/>
                        <input class="editTableRadio" onclick="if (this.checked){ $('text{$.pid}sectionByScriptEditArea').setStyle('display', 'none');}"  name="sectionBy" text{($.sectionBy=='activity')?'checked':''} type="radio" value="activity"/>活动ID<br/>
                        <input class="editTableRadio" onclick="if (this.checked){ $('text{$.pid}sectionByScriptEditArea').setStyle('display', 'none');}"  name="sectionBy" text{($.sectionBy=='splitValue')?'checked':''} type="radio" value="splitValue"/>拆分值<br/>
                        <input class="editTableRadio" onclick="if (this.checked){ $('text{$.pid}sectionByScriptEditArea').setStyle('display', 'block');}"  name="sectionBy" text{($.sectionBy=='script')?'checked':''} type="radio" value="script"/>脚本<br/>
                    </td>
                </tr>
            </table>
            <div id="text{$.pid}sectionByScriptEditArea" style="display: text{($.sectionBy=='script')?'block':'none'};">
                <div class="MWFScriptArea" name="sectionByScript" title="区段依据 (S)"></div>
            </div>
        </div>
    </div>
    <div title="事件"  class="MWFTab">
        <div class="MWFEventsArea" name="events"></div>
    </div>
    <div title="HTML"  class="MWFTab">
        <div class="MWFHTMLArea" style="font-family: Verdana, Geneva, sans-serif; font-size:14px"></div>
    </div>
    <div title="JSON"  class="MWFTab">
        <div class="MWFJSONArea" style="font-family: Verdana, Geneva, sans-serif; font-size:14px"></div>
    </div>
</div>